<launch>

  <!-- Elevation mapping node -->

  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/robots/mycar_demo.yaml" />
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/elevation_maps/mycar_demo.yaml" />
    <rosparam command="load" file="$(find elevation_mapping)/config/sensor_processors/realsense_d435.yaml" />
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/postprocessing/postprocessor_pipeline.yaml" />
  </node>

  <!-- tf2_ros node -->
  <!-- Setup a transform between the camera and the robot -->
  <!-- 把camera的frame_id和小车的frame_id连接起来，即把camera加到tf树里面 -->
  <!-- 由于base_link（小车）和map之间已经有tf关系了，所以camera和base_link相连后也会和map有tf关系-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_camera_link" args="0 0 0 0 0.0 0 base_link camera_link"/>

  <!-- Launch visualizations for the resulting elevation map -->
  <include file="$(find elevation_mapping_demos)/launch/visualization.launch" />
 
  <!-- Launch RViz with the demo configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find elevation_mapping_demos)/rviz/elevation_map_visualization_pointcloud.rviz" />

</launch>
